# Python cache
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# Virtual environment
.venv/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local secrets
.vault_key

# Logs
*.log

